#background {
    background-image: url(./images/bg.jpg);
    height: 169px;
    background-position: center;
    background-size: cover;
    padding-top: 15px;
}

#logo {
    background-color: rgba(246, 246, 247, 0.7);  
	float: left; 
	line-height: 0px;
}

#logo img {
    width: 315px;
}
.title {
    height: 20px;
    text-align: left;
}
#toggle{
	display: none;
}
label{
	display:block;
	cursor: pointer;
	float:right;
}
.menu{
	text-align: right;
	width: 100%;
	display: none;
	/* position: absolute; */
}
#toggle:checked + .menu {
	display: block;
}

.menu ul {
	list-style-type: none; 
	text-align: center; 
	margin: auto;
} 
.menu a {
	font-family:'Khula';
	font-size: 20px; 
	color: #515f6b; 
	font-weight: lighter; 
	text-decoration-line: none; 
	text-transform: uppercase;  
	display: block;
	 
} 

a {
	color: #b0aa7e;
}

a:hover {
	text-decoration-line: 
	none; color: #b0aa7e;
}
#group-photo img {
    width: 100%;
}
.partner-photo img {
	width: 50%;
	float: left;
}
.partner-desc {
	width: 48%;
	float:right;
}
.employee-photo img	{
	width:100%
}

input[type=text] 
{width: 300px;
padding: 12px 20px;
margin-top: 10px;
margin-right: 12px;
border:none;
border-bottom: 1px solid #B0AA7E;

}

textarea{
	width: 300px;
	padding: 12px 20px;
	margin-top: 7px;
	border:1px solid #B0AA7E;
	margin-top: 30px;
}
input[type=submit] {
width: 65px;
padding: 6px 16px;
margin-top: 10px;
margin-right: 12px;
border-radius: 4px;
border-color: #B0AA7E;
background-color: whitesmoke;
cursor: pointer;
}

.clearfix {
	clear: both;
}

h1 {
	font-family: 'Lato';
	font-size: 17px; 
	font-weight: lighter; 
	color: #253746;
	line-height: 2px;
	
}
h2 {font-family: 'Lato';
	font-size: 20px; 
	font-style: normal; 
	font-weight: 400; 
    color: #515f6b;
	border-bottom: 1px solid #b0aa7e;
	margin-top: 0;
	margin-bottom: 15px;
}
h3 {
	font-family: 'Lato';
	font-size: 16px; 
	font-style: normal; 
	font-weight: 300; 
	color: #7c8790; 
	line-height: 22px;
	margin-top: -10px;
    
}
h6 {
	font-family: 'Khula';
	font-size: 14px; 
	font-style: normal;
	font-weight: 200; 
    color: #515f6b;
	border-bottom: solid 1px #b0aa7e;
}
p {
	font-family: 'Heebo';
    text-align: justify;
    line-height: 1.5;
	font-weight: 200; 
	color: #253746 
}
.partner-desc p{
	font-size: small;
	text-align: left;
}
#footer {
	clear: both; 
	text-align: center;
	margin-top: 50px;
}
/*********MEDIUM SIZE SCREENS**********/
@media (min-width: 768px){

.menu {
	display: block;
	position: static;
}
.menu ul{
	text-align: right;
	padding: 0 20px 0 0;
	
}
.menu a{
	margin-top: 25px;
	margin-bottom: 25px;
	padding-right: 5px;
	
}
label{
	margin: 0 40px 0 0;
	font-size: 26px;
	display: none;

}
#toggle{
	display: none;
}
.active {
	color: #B0AA7E;
}

#footer h6{
	float: right;
}
.vl {
	border-right: 1px solid #B0AA7E;
	margin-right: 25px; 
	
}
.title {
	height: 40px;
	float: right;
	text-align: right;
	line-height: 1px;
	}
.title h1 {
	font-family: 'Khula';
	font-weight: 600;
	font-size: 28px; 
	font-style: normal; 
	font-weight: 200; 
	color: #253746
}
	
.KLVB-desc {
	width: 100%;
	position: relative;
	left: 40%;
}
.area-desc {
	width: 100%;
	position: relative;
	left: 40%;
}
input[type=text] 
{width: 300px;
padding: 12px 20px;
margin-top: 10px;
margin-right: 12px;
border:none;
border-bottom: 1px solid #B0AA7E;

}

textarea{
	width: 300px;
	padding: 12px 20px;
	margin-top: 7px;
	border:1px solid #B0AA7E;
	margin-top: 30px;
}
input[type=submit] {
width: 65px;
padding: 6px 16px;
margin-top: 10px;
margin-right: 12px;
border-radius: 4px;
border-color: #B0AA7E;
background-color: whitesmoke;
cursor: pointer;
}
.partner-photo img{
	width: 96%;
}
.partner-desc{
	width: 96%;
	float:left;
}
#empty-box{
	padding: 0 25px 0 0;
}
}

/*********MEDIUM SIZE SCREENS**********/
@media (min-width: 1000px){
	.partner-photo img{
		width: 96%;
	}
	.partner-desc{
		width: 96%;
		float:left;
	}
	#empty-box{
		padding: 0 25px 0 0;
	}

}
