body{
    margin:0px;
}
nav{
    background-color: blanchedalmond;
}
ul{
    padding-left: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}
li{
    margin: 5px 10px;
}
@media (min-width: 768px){
    ul{
        flex-direction: row;
    }
}