ul {
    text-align: center;
    list-style-type: none;
    line-height: 0px;
}
a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: #CCE6F4;
    text-decoration: none;
    padding: 0px 30px;
}
#toggle{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
body {
    width: 100%;
}